.portfolio-container {
    width:90%;
    padding: 20px;
    text-align: center;
  }
  
  .header {
    /* background-color: #4CAF50; */
    color: black;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .slide-from-left {
    animation: slideFromLeft 1s ease-in-out;
  }
  
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .portfolio-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  .profit {
    color: green; /* Green color for profit */
  }
  
  .loss {
    color: red; /* Red color for loss */
  }