.portfolio-container {
    width:90%;
    text-align: center;
    margin: auto;
  }
  
  header {
    color: black;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .portfolio-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  .profit {
    color: green; /* Green color for profit */
  }
  
  .loss {
    color: red; /* Red color for loss */
  }