
.main {
  margin: 120px auto;
  padding: 40px;
  width: 65%;
  min-height: 400px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

header {
  color: black;
  font-size: 1.6em;
  letter-spacing: 0.2em;
  /* margin-top: 20px; */
  /* padding: 40px; */
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

.head {
  width: 50%;
  /* border: 1px solid black; */
  padding: 20px;
}

.selected-buy {
  border-bottom: 5px solid rgb(0, 156, 0);
}

.selected-sell {
  border-bottom: 5px solid rgb(202, 0, 0);
}

.info {
  display: flex;
  flex-direction: row;
  letter-spacing: 0.075em;
}

.info-child {
  height: 80px;
  padding: 10px; 
  width: 50%; 
  display: flex; 
  font-size: 1.2em;
  /* justify-content: left;  */
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* font-family: Arial, sans-serif; */
  letter-spacing: 0.075em;
  margin: 20px auto;
}
td {
  padding: 20px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 0px 10px 20px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



tbody tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.banner {
  color: white;
  width: 60px;
  padding: 2px;
  font-size: smaller;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.stock {
  background-color: rgb(24, 57, 202);

}

.cd {
  background-color: rgb(101, 24, 202);
}

.govt {
  background-color: rgb(24, 160, 202);
}

.profit {
  color: green;
  font-size: smaller;
}

.loss {
  color: rgb(202, 0, 0);
  font-size: smaller;
}

.buy-btn {
  margin: 20px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(0, 163, 0);
  color: white;
  transition: all 0.1s;
  /* font-size: large; */
}

.buy-button:hover {
  cursor: pointer;
  background-color: rgb(0, 109, 0);
}

.sell-btn {
  margin: 20px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(202, 0, 0);
  color: white;
  transition: all 0.1s;
  /* font-size: large; */
}

.sell-btn:hover {
  cursor: pointer;
  background-color: rgb(109, 0, 0);
}

input:hover, select:hover {
  border: 1px solid black;
}

select {
  padding: 5px 10px;
  width: 100px;
  border: 1px solid grey;
  border-radius: 5px;
  transition: all 0.1s;
}