
<div class="main_form">
    <h4>ID: {{data.portfolio.externalId}} &nbsp;&nbsp;&nbsp;&nbsp; Category: {{data.portfolio.categoryId}}</h4>
    <h1>{{data.portfolio.instrumentDescription}}</h1>
    <h2>Price:<span id="price"> {{data.portfolio.askPrice}} </span></h2>
    <h3 [ngClass]="{'profit': isProfit(data.portfolio), 'loss': !isProfit(data.portfolio)}">
        Profit/Loss: {{calculateProfitLossPercentage(data.portfolio)}}%
    </h3>
    <h3> Amount Gain or Loss: {{profitamt}}  </h3>

    <form>
        <label for="quantity">Quantity
            <input type="number" name="quantity" #input1  [(ngModel)]="trade.quantity" (change) = "trade.cashValue = trade.quantity*(data.portfolio.askPrice)" (change) = "calculateAmount()"/>
            <span id="price"> {{data.portfolio.currentHoldings}}</span>
        </label>
        <label for="total">Total Trade Value
            <input type="number" name="total" #input2 [(ngModel)]="trade.cashValue" (change) = "trade.quantity  = trade.cashValue/(data.portfolio.askPrice)"/>
        </label>
        <button (click)="sell()">SELL</button>
        <div class="danger" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
</div>
