
header {
    color: black;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}
div {
    text-align: center;
}
table {
    width: 60%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 50px auto;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
thead {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}
.profit {
    color: green; /* Green color for profit */
}

.loss {
    color: red; /* Red color for loss */
}
button {
    margin: 50px 20px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(0, 163, 0);
    color: white;
    transition: all 0.1s;
    font-size: large;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 109, 0);
}