.main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.main_form {
    margin: auto;
    padding: 40px;
    width: 50%;
    min-height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: #00a63a56; */
    background-image: url("/assets/Money.png");
    background-size: 35%;
    background-repeat: repeat-y;
    background-position: right;
}

.error {
    color: red;
}

header {
    color: black;
    font-size: 1.6em;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    /* padding: 40px; */
    /* text-align: center; */
    width: 50%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

.head {
    /* border: 1px solid black; */
    padding: 10px;
}

input {
    width: 50%;
    height: 35px;
    margin: 20px 0px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 6px 16px;
    transition: all 0.1s;
}

input:hover {
    border: 1px solid black;
}

button {
    margin: 20px 0px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(0, 163, 0);
    color: white;
    transition: all 0.1s;
    font-size: large;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 109, 0);
}

a {
    text-decoration: none;
}

.create-account {
    width: 40%;
    padding: 20px;
    margin-top: 20px;
}