<div class="main_form">
    <h4>ID: {{price?.instrument?.externalId}} &nbsp;&nbsp;&nbsp;&nbsp; Category: {{price?.instrument?.categoryId}}</h4>
    <h1>{{price?.instrument?.instrumentDescription}}</h1>
    <h2>Price:<span id="price"> {{price?.bidPrice | currency}}</span></h2>
    <form>
        <label for="quantity">Quantity
            <input type="number" name="quantity" #input1 [(ngModel)]="trade.quantity" (change) = "trade.cashValue = trade.quantity*(price?price.bidPrice:0)"/>
        </label>
        <label for="total">Total Trade Value
            <input type="number" name="total" #input2 [(ngModel)]="trade.cashValue" (change) = "trade.quantity  = trade.cashValue/(price?price.bidPrice:0)"/>
        </label>
        <button (click)="buy()">Buy</button>
        <div class="danger" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
</div>
