.main_form {
    /* margin: 30px auto;
    width: 40%;
    box-shadow: 0 0 40px rgb(190, 190, 190); */
    padding: 40px;
    border-radius: 25px;
    /* text-align: center;
    font-family: Arial, Helvetica, sans-serif; */
}
#price {
    font-size: xx-large;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    width: 200px;
    margin-top: 20px;
}
.form-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    /* border: 2px solid black; */
}

/* h2 {
    font-style: italic;
    text-align: left;
    margin-left: 40px;
} */


.full-width {
    /* border: 1px solid black; */
    width: 230px;
    text-align: left;
}

.danger {
    height: 20px;
    margin: 0 0 20px 0;
    color: red;
    /* border: 1px solid black; */
}

input {
    width: 210px;
    height: 35px;
    margin: 10px 0 0 0 ;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 6px 10px;
    transition: all 0.1s;
}

input:hover, select:hover {
    border: 1px solid black;
}

select {
    padding: 15px 10px;
    margin-top: 10px;
    width: 230px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.1s;
}

button {
    margin-top: 20px;
    width: 210px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(0, 163, 0);
    color: white;
    transition: all 0.1s;
    font-size: large;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 109, 0);
}

a {
    text-decoration: none;
}