.home-page {
    background-image: url('/FidElite/src/assets/bg.jpg'); /* Replace 'path-to-your-image.jpg' with the actual image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Additional background properties and styles as needed */
  }
 
  
  
  