
<form #userDetail = "ngForm">
    <label for = "Email"> Email Address: </label>
    <input type="email" #Email="ngModel" [class.is-invalid]="Email.invalid && Email.touched" required
    	pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="Email"
    	[(ngModel)]="this.person.email" id="Email"/>

  	<div *ngIf="(Email?.invalid && Email?.touched) || Email?.dirty">
    	<small class="text-danger" *ngIf="Email?.errors?.['required']">Email is required</small>
    	<small class="text-danger" *ngIf="Email?.errors?.['pattern']">Please provide a valid email address</small>
  	</div>
    <!-- <label for = "email"> Email Address: </label>
    <input [class.is-invalid]="userDetails.get('email')?.invalid && userDetails.get('email')?.touched"
        type="email" class="form-control" formControlName="email" id="email">

        <div *ngIf="(getEmail?.invalid && getEmail?.touched) || getEmail?.dirty">
            <small *ngIf="getEmail?.errors?.['required']" class="text-danger"> email is required</small>
            <small *ngIf="getEmail?.errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
            </div>
 -->

<label for = "dateOfBirth"> Date Of Birth: </label>
<input  type = "date" id = "dateOfBirth" placeholder="DOB" name = "DOB" [(ngModel)] = "this.person.dateOfBirth"><br>

<label for = "country"> Country: </label>
<select id = "country" name = "country" [(ngModel)] = "this.person.country" (ngModelChange) = "onCountryChange()" name = "country">
    <option value = "India"> India</option>
    <option value = "USA"> USA</option>
    <option value = "Ireland"> Ireland</option>
</select><br>
<div *ngIf = "showAdditionalField">
    <label for="uin">{{this.clientIdentification.type}}</label>
    <input type="text" id = "uin" name = "uin"  [(ngModel)] = "clientIdentification.value"/>
</div>

<label for = "postalCode"> Postal Code: </label>
<input type = "text" id = "postalCode" placeholder="postal code" [(ngModel)] = "person.postalCode" name = "postalCode"><br>

<input type = "submit" value = "Submit" (click) = "verifyEmail()">
</form>

<div *ngIf = "emailexist" >
    Hey You are already an existing member, Please Go ahead and Signin.
    </div>
    <div *ngIf = "emailCheck">
        Successfully Registered.
        </div>



