<nav class="nav-tabs-container">
    <div class="logo">
        <!-- <img src="/FidElite/src/" alt="Fidelite Logo" width="50" height="50"> -->
      </div> 
    <span class="nav-space">FidElite</span>
    <input type="text" placeholder="What are you looking for?">
    <a class="nav-tab-alt" routerLink="/login">Log In</a>
</nav>
<div class="main">
<p class="centered-text">
<span class="bold-text">All things finance, right here</span>
</p>
<button class="btn">
    <a routerLink ="/register">Get Started, New User ?</a>
</button>
</div>
