<nav class="nav-tabs-container">
    <div class="logo">
        <!-- <img src="/FidElite/src/" alt="Fidelite Logo" width="50" height="50"> -->
      </div> 
    <span class="nav-space">FidElite</span>
    <input type="text" placeholder="What are you looking for?">
    <a class="nav-tab-alt" routerLink="/login">Log In</a>
</nav>
<div class="main">
<div class="centered-text">
    All things finance, right here
</div>
<button class="btn">
    <a routerLink ="/register">Get Started, New User ?</a>
</button>
</div>
