<app-nav [email]="email"></app-nav>
<br><br><br><br>
<select [(ngModel)]="direction" (change)="getBuyOrSellTrade()">
    <option value = "BUY">BUY</option>
    <option value = "SELL">SELL</option>
</select>
<div *ngIf="direction == 'BUY'">
    <label>Category
    <select [(ngModel)]="instrumentType" (ngModelChange)="filterPrices()">
        <option value="ALL" selected>ALL</option>
        <option value="CD">CD</option>
        <option value="GOVT">GOV</option>
        <option value="STOCK">STOCK</option>
    </select></label>

    <span> Your Balance: {{balance|currency}}</span>
    


<table>
    <tr>
        <th>External ID</th>
        <th>Instrument Description</th>
        <th>Min Qty.</th>
        <th>Max Qty.</th>
        <th>Bid Price</th>
        <th>Control</th>
    </tr>
    <tr *ngFor="let price of prices">
        <td>{{price.instrument.externalId}}</td>
        <td>{{price.instrument.instrumentDescription}}</td>
        <td>{{price.instrument.minQuantity}}</td>
        <td>{{price.instrument.maxQuantity}}</td>
        <td>{{price.bidPrice}}</td>
        <td><button (click)="buy(price)">Buy</button></td>
    </tr>
</table>
</div>
<div *ngIf="direction == 'SELL'">


    <span>Your Balance: {{balance}}</span>
    


<table>
    <tr>
        <th>External ID</th>
        <th>Instrument Description</th>
        <th>Ask Price</th>
        <th>currentHoldings</th>
        <th>Control</th>
    </tr>
    <tr *ngFor="let portfolioMem of portfolio">
        <td>{{portfolioMem.externalId}}</td>
        <td>{{portfolioMem.instrumentDescription}}</td>
        <td>{{portfolioMem.askPrice}}</td>
        <td>{{portfolioMem.currentHoldings}}</td>
        
        <td><button (click) = "sell(portfolioMem)">SELL</button></td>
    </tr>
</table>
</div>


<!-- <div *ngIf="toBuy != undefined">Buy Form</div> -->
