<app-nav></app-nav>
<p class="buy-para"> Buys Recommendation</p>
<div class="box-container">
    <div class="box" id="buy" *ngFor="let price of roboAdvisorData">
        <div class="field-title">{{ price.instrument.instrumentDescription }}</div>
        <div class="field">Instrument ID : {{ price.instrument.instrumentId }}</div>
        <div class="field">External ID Type : {{ price.instrument.externalId }}</div>
        <div class="field">External ID : {{ price.instrument.externalId }}</div>
        <div class="field">Category ID : {{ price.instrument.categoryId }}</div>
        <div class="field">Max Quantity : {{ price.instrument.maxQuantity }}</div>
        <div class="field">Min Quantity : {{ price.instrument.minQuantity }}</div>
        <div class="buyBtn" (click)="ifBuy()">
            <button (click)="buy(price)">
                Buy
            </button>
        </div>
    </div>
    <div *ngIf="openBuy">
        <app-buy></app-buy>
    </div>
</div>
    <!-- <br style="padding-right: 200px;"> -->
<div class="sell-recommendation-container">
    <p class="sell-para"> Sell Recommendation</p>
    <div class="box-container">
     <div class="box" *ngFor="let portfolioMem of portfolio">
        <div class="field-title">{{portfolioMem.instrumentDescription}}</div>
        <div class="field">External ID : {{ portfolioMem.externalId }}</div>
        <div class="field">Current holding : {{portfolioMem.currentHoldings}}</div>
        <div class="field">Ask Price : {{portfolioMem.askPrice | currency}}</div>
        <div class="sellBtn"  (click)="ifBuy()">
            <button  (click)="sell(portfolioMem)">
                Sell
            </button>
        </div>
        <div *ngIf="openSell">
            <app-buy></app-buy>
        </div>
    </div>
</div>

</div>