<app-nav [email]='email'></app-nav>

<div class="box-container">
    <div class="box" *ngFor="let item of roboAdvisorData">
      <div class="box-content">
        <div class="field-title">{{ item.instrumentDescription }}</div>
        <div class="field">Instrument ID : {{ item.instrumentId }}</div>
        <div class="field">External ID Type : {{ item.externalIdType }}</div>
        <div class="field">External ID : {{ item.externalId }}</div>
        <div class="field">Category ID : {{ item.categoryId }}</div>
        <div class="field">Max Quantity : {{ item.maxQuantity }}</div>
        <div class="field">Min Quantity : {{ item.minQuantity }}</div>
        <div class="buyBtn">
            <button>
                Buy            
        </button>
        </div>
      </div>
    </div>
    <div class="box" *ngFor="let item of roboAdvisorData">
        <div class="sell-box-content">
          <div class="field-title">{{ item.instrumentDescription }}</div>
          <div class="field">Instrument ID : {{ item.instrumentId }}</div>
          <div class="field">External ID Type : {{ item.externalIdType }}</div>
          <div class="field">External ID : {{ item.externalId }}</div>
          <div class="field">Category ID : {{ item.categoryId }}</div>
          <div class="field">Max Quantity : {{ item.maxQuantity }}</div>
          <div class="field">Min Quantity : {{ item.minQuantity }}</div>
          <div class="sellBtn">
              <button>
                  Sell            
          </button>
          </div>
        </div>
      </div>
  </div>
  

