<!-- <router-outlet></router-outlet> -->
<nav class="nav-tabs-container">
    <span class="nav-space">FidElite</span>
    <div class="alt-container" >
    <a class="nav-tab" routerLink="/trades/{{email}}">Trade History</a>
    <a class="nav-tab" routerLink="/">Buy and Sell</a>
    <a class="nav-tab" routerLink="/portfolio/{{email}}">Portfolio</a>
    <a class="nav-tab" routerLink="">Preferences</a>
    <a class="nav-tab" routerLink="/robo-advisor/{{email}}">Robo Advisors</a>    
    <a class="nav-tab" routerLink=""> <app-user-profile [email] ="email"></app-user-profile></a>
    
    </div>
    </nav>