

a {
    text-decoration: none;
    cursor: pointer;
}

.nav-tabs-container {
display: flex;
flex-direction: row;
position: absolute;
top: 0;
width: 100%;
margin: auto;
height: 70px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
background: #fff;
z-index: 10;
&--top {
    position: fixed;
    top: 0;
}
}

.nav-logo {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 1;
    color: #000;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-style: italic;
}

.nav-space {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    
}

.nav-tab {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    &:hover {
        color:white;
        background-color: rgb(0, 156, 0);
        transition: all 0.5s ease;
    }
}

.nav-space {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-style: italic;
}

.nav-tab-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    /* width: 80px; */
    &:hover {
        color:white;
        background-color: rgba(0, 0, 0, 0.425);
        transition: all 0.5s ease;
    }
}

.selected {
    border-bottom: 5px solid rgb(0, 156, 0);
}

.alt-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}