body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.nav-tabs-container {
display: flex;
flex-direction: row;
position: absolute;
top: 0;
width: 99%;
height: 70px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
background: #fff;
z-index: 10;
&--top {
    position: fixed;
    top: 0;
}
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    &:hover {
        color:white;
        background-color: rgb(0, 156, 0);
        transition: all 0.5s ease;
    }
}

.nav-space {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-style: italic;
}

.nav-tab-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    /* width: 80px; */
    &:hover {
        color:white;
        background-color: rgba(0, 0, 0, 0.295);
        transition: all 0.5s ease;
    }
}

.alt-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    flex: 1;
}