<!-- <router-outlet></router-outlet> -->
<nav class="nav-tabs-container">
    <span class="nav-space">FidElite</span>

    <div class="alt-container" *ngIf="isLandingPageRoute">
        <a class="nav-tab-alt" routerLink="/login">Log In</a>
    </div>
    <div class="alt-container" *ngIf="isHomeRoute || isPortfolioRoute || isTradingRoute">
        <a class="nav-tab" routerLink="/trade-history/{{email}}">Trade History</a>
        <a class="nav-tab" routerLink="/trade/{{email}}">Buy and Sell</a>
        <a class="nav-tab" routerLink="/portfolio/{{email}}">Portfolio</a>
        <a class="nav-tab" routerLink="/preference/{{email}}">Preferences</a>
        <a class="nav-tab" routerLink="/robo-advisor/{{email}}">Robo Advisor</a>
    <a class="nav-tab" routerLink=""> <app-user-profile [email] ="email"></app-user-profile></a>
    
    </div>
    </nav>